<main class="detalles-page">
  <div class="detalles-grid">
    <div class="galeria-imagenes">
      <div class="imagen-principal">
          <img [src]="producto.imagen" [alt]="producto.nombre" class="producto-img" />
      </div>
    </div>

    <aside class="buy-box" *ngIf="producto">
      <h1 id="nombre-producto">{{ producto.nombre }}</h1>
      <div class="precio">${{ producto.precio | number }}</div>
      <div class="descripcion-corta">
        {{ producto.descripcion }}
      </div>
      <div class="opciones">
        <label for="cantidad">Cantidad</label>
          <input
            id="cantidad"
            type="number"
            min="1"
            [(ngModel)]="cantidad"
            class="cantidad-input"
          />
      </div>

      <button id="btn-agregar-carrito" class="btn-comprar" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>

      <div class="envio">Envío gratis a todo el país</div>
    </aside>
  </div>

  <section class="detalle-tabs" *ngIf="producto">
    <nav>
      <button
        class="tab"
        [class.active]="selectedTab === 'descripcion'"
        (click)="setTab('descripcion')">
        Descripción
      </button>
      <button
        class="tab"
        [class.active]="selectedTab === 'reseñas'"
        (click)="setTab('reseñas')">
        Reseñas
      </button>
      <button
        class="tab"
        [class.active]="selectedTab === 'preguntas'"
        (click)="setTab('preguntas')">
        Preguntas
      </button>
    </nav>
    <div class="tab-contents">
      <div class="tab-content" *ngIf="selectedTab === 'descripcion'">
        <p>{{ producto.descripcion }}</p>
      </div>
      <div class="tab-content" *ngIf="selectedTab === 'reseñas'">
        <p>Aún no hay reseñas.</p>
      </div>
      <div class="tab-content" *ngIf="selectedTab === 'preguntas'">
        <p>No hay preguntas.</p>
      </div>
    </div>
  </section>
</main>





