:root {
  --rojo: #e63946;
  --rojo-oscuro: #b71c1c;
  --negro: #121212;
  --gris-claro: #f7f7f7;
  --blanco: #ffffff;
  --sombra: rgba(0, 0, 0, 0.1);
  --fuente: 'Poppins', sans-serif;
}

/* Reseteo de márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegura que la altura se ocupe completamente */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0; /* Para evitar márgenes inesperados */
  padding: 0; /* Para evitar rellenos inesperados */
}

/* Estilo base para el body */
body {
  font-family: var(--fuente);
  background-color: var(--gris-claro);
  color: var(--negro);
  display: flex;
  flex-direction: column;
}

/* Para que el contenido principal ocupe el espacio disponible */
main {
  flex: 1;
}
