/* ---------- REGISTRO / LOGIN ---------- */
.registro-body {
    background: linear-gradient(to bottom right, var(--rojo), var(--rojo-oscuro));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registro-container {
    background-color: var(--blanco);
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    text-align: center;
  }
  
  .registro-container h2 {
    margin-bottom: 25px;
    color: var(--rojo-oscuro);
    font-size: 1.8rem;
  }
  
  .registro-form {
    display: flex;
    flex-direction: column;
  }
  
  .registro-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .registro-form input,
  .registro-form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
  }
  
  .btn-registro-form {
    background-color: var(--rojo);
    color: var(--blanco);
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn-registro-form:hover {
    background-color: var(--negro);
  }
  
  .link-login {
    margin-top: 15px;
    font-size: 0.95rem;
  }
  
  .link-login a {
    color: var(--rojo-oscuro);
    font-weight: bold;
    text-decoration: none;
  }
  