<div class="registro-container">
    <button class="btn-back" routerLink="/home" aria-label="Regresar">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <h2>Inicia sesión en BiciMundo</h2>
    <form (submit)="login(); $event.preventDefault()">
      <label>Correo electrónico</label>
      <input type="email" [(ngModel)]="email" name="email" required>
  
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="password" name="password" required>
      
      <button type="submit">Ingresar</button>
      <p class="registro-link">
        ¿Aún no estás registrado?
        <a routerLink="/registro">Click aquí.</a>
      </p>
    </form>

  </div>
  
  
