<main class="tienda-container">
  <h2>Bicicletas disponibles</h2>
  <span>­</span> 
  <div class="productos-grid">
    <div *ngFor="let bici of bicicletas" class="producto">
      <a [routerLink]="['/detalles', bici.id]" class="producto-link">
        <img [src]="bici.imagen" [alt]="bici.nombre" class="producto-img" />

        <h4>{{ bici.nombre }}</h4>
        <p>${{ bici.precio | number }}</p>
      </a>
      <button class="btn-agregar" (click)="agregarAlCarrito(bici)">Agregar al carrito</button>
    </div>
  </div>
</main>



