:root {
  --rojo: #e00618;
  --rojo-oscuro: #b71c1c;
  --negro: #121212;
  --gris-claro: #f7f7f7;
  --blanco: #ffffff;
  --sombra: rgba(0, 0, 0, 0.1);
  --fuente: 'Poppins', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


html{
  overflow-y: scroll;
}

body {
  font-family: var(--fuente);
  background-color: var(--gris-claro);
  color: var(--negro);
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

body.swal2-shown {
  padding-right: 0 !important;
}

main {
  min-height: calc(100vh - 200px); 
}


