
<main>
  <section class="hero">
    <div class="hero-texto">
      <h2>Descubre la bici perfecta para ti</h2>
      <p>Modelos de montaña, ruta, urbanas y más... todo en un solo lugar</p>
      <a routerLink="/bicicletas" class="btn-principal">Explorar catálogo</a>
    </div>
    <div class="hero-imagen">
      <img src="assets/img/bicicleta-hero-dark.jpg" alt="Bicicleta moderna" />
    </div>
  </section>

  <section class="destacados">
    <h3>Bicicletas destacadas</h3>
    <div class="productos-grid">
      <p>Aquí se cargarán dinámicamente las bicicletas.</p>
    </div>
  </section>
</main>


